#visualization {
    position: relative;
    width: 800px;
    height: 609px;
    border: 1px solid black;
}

.node {
    display: inline-block;
    border: solid 1px white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(228, 96, 168);
    box-shadow: 0 0 10px 4px #de74e8;

    position: absolute;
    
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 36px;
}

.node:hover {
    box-shadow: 0 0 10px 8px #821d8c;
    background-color: #ff57e3;
    border: solid 1px gray;
}

.float-container div {
    float: left;
    clear: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.name{
align-self: center;
margin: 0 auto;
}

title_box {
border: #3c5a86 1px dotted;
}

.title_box #title {
position: relative;
top: -0.5em;
margin-left: 1em;
display: inline;
background-color: white;
}

.title_box #content {}

fieldset {
    border: 1px solid green
  }
  
  legend {
    padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: right;
  }

  .first
  {
  display:block;
  /*Or*/
  /* clear:both; */
  }

/* .float-container {
    border: 3px solid #fff;
    padding: 20px;
} */

/* .text-box {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.visualization {
    width: 50%;
    float: right;
    padding: 20px;
    border: 2px solid red;
} */

textarea.numbered {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
}